.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.center {
  display: flex;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.center canvas {
  background: white;
  image-rendering: pixelated;
  border: solid black;
  width: 100%;
}
